<nav class="navbar navbar-default navbar-fixed-top">
    <div class="slide_container">
        <nav class="container-fluid" id="menu">
            <div class="row">
                <div class="col-xs-6 focus">
                    <img src="../img/focus-composite.jpg">
                </div>
                <div class="col-xs-6">
                    <div class="aboutTitle">
                        <p><b>A firm exclusively focused on dividend growth</b></p>
                    </div>
                    <div class="aboutLinks">
                        <a href="#">Overview »</a>
                        <br>
                        <a href="#">Team »</a>
                        <br>
                        <a href="#">Careers »</a>
                    </div>
                </div>

            </div>


        </nav>