<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col"><img src="../img/logo/logo.png" class="logo"></div>
        <div class="col-xs-8 navlink">
            <a href="../home.html">HOME</a>
            <a href="../htmls/etfs.html">ETFs</a>
            <a href="#">METHODOLOGY</a>
            <a href="../htmls/Insights.html" class="activeNav">INSIGHTS</a>
            <a href="../htmls/aboutV2.html" class="dropdown">ABOUT</a>
            <a href="#">CONTACT</a>
        </div>
    </div>
</div>
</nav>
<div class="insightsTitleBlack">
    <h2>Insights</h2>
    <p>Thought capital, resources and news focused on dividend growth</p>
</div>

<div class="insightsNav">
    <div class="container">
        <div class="row">
            <div class="insightsNavLinks">
                <a href="#" class="activeTabNav">ALL INSIGHTS</a>
                <a href="#">RESEARCH</a>
                <a href="#">NEWS</a>
                <a href="#">MEDIA</a>
                <a href="#">AWARDS</a>
            </div>
        </div>
    </div>
</div>

<div class="Insights">

    <!--/*top image*/-->
    <div class="row">
        <div class="col-xs-12">
            <div class="TopImg">
                <img src="../img/V541_Mini_PDP_Module_05_Gallery_Module_08_Large_thumbnail.jpg">
                <div class="overlayTop">
                    <p>Research</p>
                </div>
                <div class="overlay">
                    <span>6/30/2016</span>
                    <h2>The reality of
                        dividend growth
                        investing</h2>
                    <a href="#">READ MORE ›</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dividerNotLine"></div>

    <!--/*4/8*/-->
    <div class="row">
        <div class="col-xs-4">
            <div class="InsightsTabs">
                <p>Research</p>
                <span>6/30/2016</span>
                <h2>Bank stress tests &
                    dividend growth</h2>
                <a href="#">READ MORE ›</a>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 noRightPad">
                        <div class="InsightsTabs">
                            <p>Awards</p>
                            <span>6/30/2016</span>
                            <h2>DIVY awarded ‘Most
                                Innovative ETF –
                                Americas’</h2>
                            <a href="#">READ MORE ›</a>
                        </div>
                    </div>
                    <div class="col-xs-6 noRightPad noLeftPad">
                        <div class="InsightsTabsImg">
                            <img src="../img/12.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dividerNotLine"></div>

    <!--/*dfnd adv*/-->
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
    <div class="dividerNotLine"></div>

    <!--/*8/4*/-->
    <div class="row">
        <div class="col-xs-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 noLeftPad noRightPad">
                        <div class="InsightsTabs">
                            <p>News</p>
                            <span>6/30/2016</span>
                            <h2>Guard Indicator
                                signals shift toward
                                positive market</h2>
                            <a href="#">READ MORE ›</a>
                        </div>
                    </div>
                    <div class="col-xs-6 noLeftPad">
                        <div class="InsightsTabsImg">
                            <img src="../img/poz.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="InsightsTabs">
                <p>Research</p>
                <span>6/30/2016</span>
                <h2>The new DOL rule
                    and the future of
                    dividend growth?</h2>
                <a href="#">READ MORE ›</a>
            </div>
        </div>
    </div>
    <div class="dividerNotLine"></div>

    <!--/*(4/4)8*/-->
    <div class="row">
        <div class="col-xs-4">
            <div class="InsightsTabs">
                <p>Media</p>
                <span>6/30/2016</span>
                <h2>The Bloomberg
                    advantage: Ervin
                    sees ETFs passing
                    mutual funds</h2>
                <a href="#">READ MORE ›</a>
            </div>
            <div class="dividerNotLine"></div>
            <div class="InsightsTabs">
                <p>Media</p>
                <span>6/30/2016</span>
                <h2>Big interview with
                    Eric Ervin</h2>
                <a href="#">READ MORE ›</a>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="TopImg longHeight">
                <img src="../img/V541_Mini_PDP_Module_05_Gallery_Module_08_Large_thumbnail.jpg">
                <div class="overlayTop">
                    <p>Research</p>
                </div>
                <div class="overlay">
                    <span>6/30/2016</span>
                    <h2>The power of
                        DIVCON™: Reality
                        Shares’ dividend
                        rating system</h2>
                    <a href="#">READ MORE ›</a>
                </div>
            </div>

        </div>
    </div>
    <div class="dividerNotLine"></div>

    <!--/*4/8*/-->
    <div class="row">
        <div class="col-xs-4">
            <div class="InsightsTabs">
                <p>News</p>
                <span>6/30/2016</span>
                <h2>Reality Shares
                    launches dividend
                    ETF</h2>
                <a href="#">READ MORE ›</a>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 noRightPad">
                        <div class="InsightsTabs">
                            <p>Media</p>
                            <span>6/30/2016</span>
                            <h2>Reality Shares rings
                                the opening bell® at
                                the NYSE to
                                celebrate launch of
                                DIVY ETF</h2>
                            <a href="#">READ MORE ›</a>
                        </div>
                    </div>
                    <div class="col-xs-6  noLeftPad noRightPad">
                        <div class="InsightsTabsImg">
                            <img src="../img/poz.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dividerNotLine"></div>

    <!--/*8(4/4)*/-->
    <div class="row">
        <div class="col-xs-8">
            <div class="InsightsTabsBlack">
                <h1>What’s<br>
                    your<br>
                    score?</h1>
                <h2>Get your DIVCON Scorecard today
                    Sign up for a complimentary portfolio
                    assessment</h2>
                <a href="#">LEARN MORE ›</a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="InsightsTabs">
                <p>News</p>
                <span>6/30/2016</span>
                <h2>Reality Shares
                    launches DFND and
                    GARD ETFs</h2>
                <a href="#">READ MORE ›</a>
            </div>
            <div class="dividerNotLine"></div>
            <div class="InsightsTabs">
                <p>News</p>
                <span>6/30/2016</span>
                <h2>ETF stats for
                    January 2016:
                    currency hedging
                    2.0</h2>
                <a href="#">READ MORE ›</a>
            </div>
        </div>

    </div>
    <div class="dividerNotLine"></div>

    <!--/*nav*/-->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="email">
    <h2>Get the latest from Reality Shares</h2>
    <p>Sign up to get news, announcements and articles in your inbox</p>
    <div class="emailInput">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Name" id="usr">
                </div>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="Password" id="pwd">
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="sel1">
                        <option>I am investor</option>
                        <option>I am investor</option>
                        <option>I am investor</option>
                        <option>I am investor</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>