<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators carusel">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>


  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active activeImgCar">
      <img src="img/V541_Mini_PDP_Module_05_Gallery_Module_07_Large_thumbnail.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item activeImgCar">
      <img src="img/V541_Mini_PDP_Module_05_Gallery_Module_08_Large_thumbnail.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item activeImgCar">
      <img src="img/Sydney-Night-11.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item activeImgCar">
      <img src="img/Sydney-Night-11.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="explore">
  <p>Explore our suite of dividend growth ETFs</p>
  <div class="row rowmarg">
    <div class="col-xs-3 lightSkyBlue ">
      <div class="exploreTitle">
        <div class="container-fluid paddingLR">
          <div class="col-xs-6 paddingLR"><p>LEAD</p></div>
          <div class="col-xs-6 iconAlign "><img src="img/icons/lead.png"></div>
        </div>
      </div>
      <div class="exploreCount">
        <p>$25.12(+$0.02)</p>
      </div>
      <div class="exploreDesc">
        <p>Investing in dividend growth leaders</p>
      </div>
    </div>
    <div class="col-xs-3 royalBlue">
      <div class="exploreTitle">
        <div class="container-fluid paddingLR">
          <div class="col-xs-6 paddingLR"><p>DFND</p></div>
          <div class="col-xs-6 iconAlign "><img src="img/icons/dfnd.png"></div>
        </div>
      </div>
      <div class="exploreCount">
        <p>$25.12(+$0.02)</p>
      </div>
      <div class="exploreDesc">
        <p>Long dividend growers and short dividend cutters</p>
      </div>
    </div>
    <div class="col-xs-3 blue">
      <div class="exploreTitle">
        <div class="container-fluid paddingLR">
          <div class="col-md-6 paddingLR"><p>GARD</p></div>
          <div class="col-md-6 iconAlign "><img src="img/icons/gand.png"></div>
        </div>
      </div>
      <div class="exploreCount">
        <p>$25.12(+$0.02)</p>
      </div>
      <div class="exploreDesc">
        <p>Long dividend growers with a dynamic market hedge </p>
      </div>
    </div>
    <div class="col-xs-3 springGreen">
      <div class="exploreTitle">
        <div class="container-fluid paddingLR">
          <div class="col-xs-6 paddingLR"><p>DIVY</p></div>
          <div class="col-xs-6 iconAlign "><img src="img/icons/divy.png"></div>
        </div>
      </div>
      <div class="exploreCount">
        <p>$25.12(+$0.02)</p>
      </div>
      <div class="exploreDesc">
        <p>Isolating and accessing the dividend growth rate</p>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="learnMore">
  <p>Learn more about our forward-looking methodology</p>
  <img src="img/2.png">
</div>
<div class="divider"></div>
<div class="latest">
  <div class="title">
    <p>Get the latest from Reality Shares</p>
  </div>

  <div class="row rowmarg">
    <div class="col-xs-3 border">
      <div class="latestTitle">
        <div class="container-fluid paddingLR">
          <div class="col-xs-6 paddingLR"><p><b>RESEARCH</b></p></div>
          <div class="col-xs-6 iconAlignBlack">
            <img src="img/icons/research.png">
          </div>
        </div>
      </div>
      <div class="latestDesc">
        <p>Explore Reality <br>
          Shares Dividend <br>
          Growth Gauges</p>
      </div>
    </div>
    <div class="col-xs-3 border">
      <div class="latestTitle">
        <div class="container-fluid paddingLR">
          <div class="col-xs-6 paddingLR"><p><b>NEWS</b></p></div>
          <div class="col-xs-6 iconAlignBlack">
            <img src="img/icons/news.png">
          </div>
        </div>
      </div>
      <div class="latestDesc">
        <p>Guard Indicator Signals Shift Toward Positive Market</p>
      </div>
    </div>
    <div class="col-xs-3 border">
      <div class="latestTitle">
        <div class="container-fluid paddingLR">
          <div class="col-xs-6 paddingLR"><p><b>AWARDS</b></p></div>
          <div class="col-xs-6 iconAlignBlack">
            <img src="img/icons/awards.png">
          </div>
        </div>
      </div>
      <div class="latestDesc">
        <p>DIVY Named to Forbes Best Funds And ETFs For 2016 </p>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="latestTitle">
        <div class="container-fluid paddingLR">
          <div class="col-xs-6 paddingLR"><p><b>AWARDS</b></p></div>
          <div class="col-xs-6 iconAlignBlack">
            <img src="img/icons/awards.png">
          </div>
        </div>
      </div>
      <div class="latestDesc">
        <p>DIVY Named to Forbes Best Funds And ETFs For 2016 </p>
      </div>
    </div>
  </div>
</div>